extends layout 

block main-content
    div#index-hero
        h1 Catering to your last minute vacation planning!
           div.row.justify-content-center
                img.col-md-6(src="img/vacay.jpeg", ,style="max-width:700px", alt='Vacation')
        